<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='list.css')}}">
    <script src="https://kit.fontawesome.com/cbe6fa6a2e.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="botones">
        <a href="/"><i class="fa-solid fa-house" style="color: #10da1e;"></i></i></a>
        <a href="/products/create"><i class="fa-solid fa-plus" style="color: #19d71c;"></i></a>
    </div>
    <table>
        
        <tr>
            <th><i class="fa-solid fa-gear"></i></th>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Foto</th>
            <th>Precio</th>
        </tr>
        {% for element in datos %}
        <tr>
            <td>
                <a src="#"><i class="fa-regular fa-eye"></i></a>
                <a src="#"><i class="fa-solid fa-trash"></i></a>
                <a src="#"><i class="fa-solid fa-pen-to-square"></i></a>

            </td>
            <td>{{element[0]}}</td>
            <td>{{element[1]}}</td>
            <td>{{element[2]}}</td>
            <td>{{element[3]}}</td>
            <td>{{element[4]}}</td>
        </tr>
        {% endfor %}
        
    </table>
    
    </body>
    </html>
    
    
    
    
    
    
    
</body>
</html>