<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Producto</title>
    <link rel="stylesheet" href="{{url_for('static', filename='create.css')}}">
</head>
<body>

<h2>Actualizar Producto</h2>

<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title() }}
    <br>
    {{ form.description.label }} {{ form.description() }}
    <br>
    {{ form.price.label }} {{ form.price() }}
    <br>
    {{ form.photo.label }} {{ form.photo() }}
    <br>
    {{ form.submit() }}
</form>
<a href="/list"><i class="fas fa-arrow-left"></i> Tornar a la llista</a>
</body>
</html>