body{
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

p{
    color: blueviolet;
    font-weight: bold;
    font-size: xx-large;
}